{% extends 'foodie/base.html' %}
{% load filters %}

{% block content %}
    <form class="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" name="clear" value="1">Clear All</button>
        <button type="submit" name="publish" value="1">Publish</button>
        <div class="block grid">
            <h1>New Recipe</h1>
        </div>
        <div class="block grid">
            <h3>Info</h3>
            Title {{base.title|addClass:'forminput'}}
            <br>
            <input type="file" name="pic">
            <br>
            Description {{base.description|addClass:'forminput'}}
            <br>
            <br>
            <button type="submit" name="button" class="forminput">Set</button>
        </div>
        <div class="block grid">
            <h3>Ingredient</h3>
            Amount {{ing.amount|addClass:'forminput'}}
            <br>
            Name {{ing.name|addClass:'forminput'}}
            <br>
            <br>
            <button type="submit" name="clearing" value="1" class="forminput">Clear Ingredients</button>
            <button type="submit" name="button" class="forminput">Add</button>
        </div>
        <div class="block grid">
            <h3>Direction</h3>
            {{dir.text|addClass:'forminput'}}
            <br>
            <br>
            <button type="submit" name="cleardir" value="1" class="forminput">Clear Directions</button>
            <button type="submit" name="button" class="forminput">Add</button>
        </div>
        <div class="block grid">
            <h3>Nutrition</h3>
            Calories {{nut.calories|addClass:'forminput'}}
            Fat {{nut.fat|addClass:'forminput'}}
            Carbs {{nut.carbs|addClass:'forminput'}}
            Protein {{nut.protein|addClass:'forminput'}}
            Cholesterol {{nut.cholesterol|addClass:'forminput'}}
            Sodium {{nut.sodium|addClass:'forminput'}}
            <br>
            <br>
            <button type="submit" name="button" class="forminput">Set</button>
        </div>
    </form>

    <div class="block">
        <h1>Preview</h1>
    </div>
    <div class="block">
        {{request.session.title}}
    </div>
    <div class="block">
        <p>{{request.session.description}}</p>
    </div>
    <div class="block">
        <h3>Ingredients</h3>
        {% for ingredient in request.session.ingredients %}
            <p>{{ingredient.amount}} of {{ingredient.name}}</p>
        {% endfor %}
    </div>
    <div class="block">
        <h3>Directions</h3>
        {% for direction in request.session.directions %}
            <p>{{direction.number}}. {{direction.text}}</p>
        {% endfor %}
    </div>
{% endblock content %}
