{% extends 'foodie/base.html' %}

{% block content %}
    <div class="block">
        <h2>{{recipe.title}}</h2>
    </div>
    <div class="block">
        <p>{{recipe.description}}</p>
    </div>
    <div class="block">
        <h3>Ingredients</h3>
        {% for ingredient in ingredients %}
            <p>{{ingredient.amount}} of {{ingredient.name}}</p>
        {% endfor %}
    </div>
    <div class="block">
        <h3>Directions</h3>
        {% for direction in directions %}
            <p>{{direction.number}}. {{direction.text}}</p>
        {% endfor %}
    </div>
    <div class="block">
        {% for nutrition in nut %}
            <h3>Nutrition</h3>
            <p>{{nutrition.calories}} calories</p>
            <p>{{nutrition.fat}} g fat</p>
            <p>{{nutrition.carbs}} g carbohydrates</p>
            <p>{{nutrition.protein}} g protein</p>
            <p>{{nutrition.cholesterol}} mg cholesterol</p>
            <p>{{nutrition.sodium}} mg sodium</p>
        {% endfor %}
    </div>
{% endblock content %}
