html
{
    background-color: #E8E1E1;
    font-family: Arial;
}

.recipe
{
    background: #FEF7F7;
    width: 30em;
    margin: 0; /*auto; <- centers posts*/
    margin-bottom: 0.4em;
    vertical-align: middle;
    padding: 2em;
    line-height: 1em;
}
.block,
.blockleft
{
    background: #FEF7F7;
    margin: 0 auto;
    padding: 1em;
    border-width: .1em;
    border-color: #E6E6E6;
    border-style: solid;
    width: 40em;
}
.grid
{
    display: table-cell;
}
.blockleft
{
    margin: 0;
    float: left;
    width: 10%;
}

.page-header
{
    background-color: #CA4D4D;
    color: white;
    margin-top:	0;
    padding: 20px 20px 20px	40px;
    margin-bottom: 1em;
}

.container
{
    margin-left: 1em;
}

.date
{
    color: #696969;
}

h1, h2, h3, h4
{
    font-family: DejaVu Sans Light;
}

a.nav:link, a.nav:visited
{
    color: #E7E2E2;
    text-decoration: none;
    font-family: Ubuntu Condensed, Arial;
    font-size: 1.1em;
    margin-left:2em;
    outline: none;
}

a.nav:hover, a.nav:active
{
    color: #94CAC8;
    text-decoration: underline;
    outline: none;
}

.forminput
{
    border-width: .1em;
    border-color: #E6E6E6;
    border-style: solid;
    display: table;
    min-width: 100%;
}
